<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

<title>Home</title>
</head>
<body>


	<p th:text="'Hello, ' + ${note} + '!'" />


	<div class="container">
		<h2>Notes</h2>
		<form th:action="search" method="post">
			<div>
				<label for="search-term">search</label> 
				<input type="text" id="search-tag" name="tag">
			</div>
			<div>
				<button class="search-notes">Search</button>
			</div>

		</form>
		<ul th:each="note : ${notesMatchedTag}">
            <p th:text="${note.getTag()}"></p>
            <p th:text="${note.getContent()}"></p>
          </ul>
	</div>



</body>
</html>